:root {
    font-size: 25px;
}

main {
    width: 900px;
    height: 1500px;
    margin: 0 auto;
    padding: 30px 30px 50px;
    box-shadow: 0 0 10px 0 lightgray;
    z-index: 1;
}

input,
select {
    width: 100px;
    margin: 0.5rem 1rem 0.5rem 0;
}

input[type='number'] {
    width: 100px;
}

button#submit,
button#priority,
button#remove {
    padding: 5px 10px;
    margin-top: 1rem;
    background-color: royalblue;
    color: white;
    border-style: none;
}

button#priority {
    width: 250px;
    height: 50px;
    margin-left: 20px;
    font-size: 25px;
    background-color: olivedrab;
}

button#priority1 {
    width: 250px;
    height: 50px;
    margin-left: 20px;
    font-size: 25px;
    background-color: rgb(126, 56, 240);
    color: white;
}

button#priority2 {
    width: 250px;
    height: 50px;
    margin-left: 20px;
    font-size: 25px;
    background-color: rgb(239, 9, 9);
    color: white;
}

button#remove {
    width: 400px;
    height: 50px;
    margin-left: 250px;
    font-size: 25px;
    background-color: firebrick;
}

table {
    width: 800px;
    margin-top: 2rem;
    margin-left: 50px;
    border: solid 2px lightgray;
    background-color: aliceblue;
    border-collapse: collapse;
    z-index: 2;
}

th,
td {
    border: solid 1px lightgray;
    border-collapse: collapse;
}

th {
    background-color: beige;
    padding: 0 0.5rem 0;
}

th#todoLabel {
    width: 400px;
}

th#dateLabel {
    width: 100px;
}

td {
    text-align: center;
}

td input[type='checkbox'] {
    margin: 0;

}

#submit {
    font-size: 30px;
    width: 200px;
    height: 50px;
    box-shadow: 5px 5px 2px black;
}

#submit:hover {
    scale: 1.1;
}



#todo {
    width: 400px;
    height: 30px;
    font-size: 25px;
}

.keiretu {
    width: 200px;
    height: 30px;
    font-size: 25px;
}